exams/2015_06/ws/LabTest2015-1stSession-Client/xml-resources/web-service-references/BankWS/wsdl/localhost_8080/LabTest2015-1stSession/BankWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="getOperationDetaislByID" type="tns:getOperationDetaislByID" />

<xs:element name="getOperationDetaislByIDResponse" type="tns:getOperationDetaislByIDResponse" />

<xs:element name="getOperationsByClientID" type="tns:getOperationsByClientID" />

<xs:element name="getOperationsByClientIDResponse" type="tns:getOperationsByClientIDResponse" />

<xs:complexType name="getOperationsByClientID">
<xs:sequence>
<xs:element name="ClientID" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOperationsByClientIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOperationDetaislByID">
<xs:sequence>
<xs:element name="OpID" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOperationDetaislByIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>