part1/01_soap_ws/MyFirstClient/xml-resources/web-service-references/ElencoUtentiService/wsdl/192.168.50.97_8080/MyFirstWebService/ElencoUtentiService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://esempio.dis.uniroma1.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://esempio.dis.uniroma1.it/">

<xs:element name="getElencoUtenti" type="tns:getElencoUtenti" />

<xs:element name="getElencoUtentiResponse" type="tns:getElencoUtentiResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="getElencoUtenti">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getElencoUtentiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>