part1/02_soap_ws/MyClientFlowerAlbumService/xml-resources/web-service-references/FlowerAlbumService/wsdl/192.168.50.97_8080/MyComplexDataWS/FlowerAlbumService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://server/" name="FlowerAlbumService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server/" schemaLocation="http://192.168.50.97:8080/MyComplexDataWS/FlowerAlbumService?xsd=1" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="getThumbnails">
    <part name="parameters" element="tns:getThumbnails" />
  </message>
  <message name="getThumbnailsResponse">
    <part name="parameters" element="tns:getThumbnailsResponse" />
  </message>
  <message name="getFlower">
    <part name="parameters" element="tns:getFlower" />
  </message>
  <message name="getFlowerResponse">
    <part name="parameters" element="tns:getFlowerResponse" />
  </message>
  <portType name="FlowerAlbumService">
    <operation name="hello">
      <input wsam:Action="http://server/FlowerAlbumService/helloRequest" message="tns:hello" />
      <output wsam:Action="http://server/FlowerAlbumService/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="getThumbnails">
      <input wsam:Action="http://server/FlowerAlbumService/getThumbnailsRequest" message="tns:getThumbnails" />
      <output wsam:Action="http://server/FlowerAlbumService/getThumbnailsResponse" message="tns:getThumbnailsResponse" />
    </operation>
    <operation name="getFlower">
      <input wsam:Action="http://server/FlowerAlbumService/getFlowerRequest" message="tns:getFlower" />
      <output wsam:Action="http://server/FlowerAlbumService/getFlowerResponse" message="tns:getFlowerResponse" />
    </operation>
  </portType>
  <binding name="FlowerAlbumServicePortBinding" type="tns:FlowerAlbumService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getThumbnails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getFlower">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FlowerAlbumService">
    <port name="FlowerAlbumServicePort" binding="tns:FlowerAlbumServicePortBinding">
      <soap:address location="http://192.168.50.97:8080/MyComplexDataWS/FlowerAlbumService" />
    </port>
  </service>
</definitions>