course_part_1/02_soap_ws/MyClientCompanyService/xml-resources/web-service-references/CompanyService_1/wsdl/10.0.2.15_8080/MyServerCompanyService/CompanyService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://companyService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://companyService/">

<xs:element name="getCompany" type="tns:getCompany" />

<xs:element name="getCompanyResponse" type="tns:getCompanyResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="getCompany">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getCompanyResponse">
<xs:sequence>
<xs:element name="return" type="tns:company" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="company">
<xs:sequence>
<xs:element name="companyID" type="xs:string" minOccurs="0" />
<xs:element name="companyName" type="xs:string" minOccurs="0" />
<xs:element name="companyEmployees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>